In [104]:
import pandas as pd

In [105]:
df=pd.read_excel('ScrapedDetails-1.xlsx')

In [106]:
df=df.drop(columns=['Nutritional Score','Additional Texts','Calcium','Cholesterol'])

In [107]:
df['Positive Points'] = df['Positive Points'].str.replace('Positive points: ', '')

In [108]:
df

,Product Name,Fat,Fiber,Carbohydrates,Energy,Proteins,Salts,Sugars,Positive Points,Negative Points
0,Aashirvaad Shudh Chakki Atta - ITC - 5 kg,1.8,11.1,77.4,1,10.8,0,5.6,10,Negative points: 5
1,Nutella & Go! - 48 g e,25,NaN,62,2,7.4,0.686,42.3,0,Negative points: 26
2,Amul Taaza - 1L,3,0,4.8,244,3,0.092,4.8,1,Negative points: 2
3,Everest Shahi paneer masala - 0.71g,4.1,NaN,13.4,452,3.6,0.17,12.9,2,Negative points: 5
4,Hershey's syrup - 200g,0.56,0,66.6,1,1.27,6,63.7,0,Negative points: 23
...,...,...,...,...,...,...,...,...,...,...
208,Slim 'n' Trim - Amul - 500ml,1.5,NaN,5,192,3.2,0.105,5,1,Negative points: 1
209,Aquafina - 500 ml,0,NaN,0,0,0,0.003,0,0,Negative points: 0
210,Dairy milk milk chocolate - Mondelez,28.9,NaN,60.4,2,8.1,0.156,57.3,0,Negative points: 26
211,Masala munch,34.6,NaN,55.2,2,6.4,2.23,1,0,Negative points: 25
212,Nutties - Cadbury - 30g,24.5,1.2,67.2,2,5.1,0.278,61.7,1,Negative points: 27

In [109]:
df['Negative Points'] = df['Negative Points'].str.replace('Negative points: ', '')

In [110]:
df

,Product Name,Fat,Fiber,Carbohydrates,Energy,Proteins,Salts,Sugars,Positive Points,Negative Points
0,Aashirvaad Shudh Chakki Atta - ITC - 5 kg,1.8,11.1,77.4,1,10.8,0,5.6,10,5
1,Nutella & Go! - 48 g e,25,NaN,62,2,7.4,0.686,42.3,0,26
2,Amul Taaza - 1L,3,0,4.8,244,3,0.092,4.8,1,2
3,Everest Shahi paneer masala - 0.71g,4.1,NaN,13.4,452,3.6,0.17,12.9,2,5
4,Hershey's syrup - 200g,0.56,0,66.6,1,1.27,6,63.7,0,23
...,...,...,...,...,...,...,...,...,...,...
208,Slim 'n' Trim - Amul - 500ml,1.5,NaN,5,192,3.2,0.105,5,1,1
209,Aquafina - 500 ml,0,NaN,0,0,0,0.003,0,0,0
210,Dairy milk milk chocolate - Mondelez,28.9,NaN,60.4,2,8.1,0.156,57.3,0,26
211,Masala munch,34.6,NaN,55.2,2,6.4,2.23,1,0,25
212,Nutties - Cadbury - 30g,24.5,1.2,67.2,2,5.1,0.278,61.7,1,27

In [111]:
df['Fiber']

0      11.1
1       NaN
2         0
3       NaN
4         0
       ...
208     NaN
209     NaN
210     NaN
211     NaN
212     1.2
Name: Fiber, Length: 213, dtype: object

In [112]:

data = {'Fiber': [0.0, float('nan'), 58.0, 4.8, 0.0, float('nan'), float('nan'), float('nan'), float('nan'), 1.2]}
df['Fiber'] = df['Fiber'].fillna(0)

In [113]:
df

,Product Name,Fat,Fiber,Carbohydrates,Energy,Proteins,Salts,Sugars,Positive Points,Negative Points
0,Aashirvaad Shudh Chakki Atta - ITC - 5 kg,1.8,11.1,77.4,1,10.8,0,5.6,10,5
1,Nutella & Go! - 48 g e,25,0,62,2,7.4,0.686,42.3,0,26
2,Amul Taaza - 1L,3,0,4.8,244,3,0.092,4.8,1,2
3,Everest Shahi paneer masala - 0.71g,4.1,0,13.4,452,3.6,0.17,12.9,2,5
4,Hershey's syrup - 200g,0.56,0,66.6,1,1.27,6,63.7,0,23
...,...,...,...,...,...,...,...,...,...,...
208,Slim 'n' Trim - Amul - 500ml,1.5,0,5,192,3.2,0.105,5,1,1
209,Aquafina - 500 ml,0,0,0,0,0,0.003,0,0,0
210,Dairy milk milk chocolate - Mondelez,28.9,0,60.4,2,8.1,0.156,57.3,0,26
211,Masala munch,34.6,0,55.2,2,6.4,2.23,1,0,25
212,Nutties - Cadbury - 30g,24.5,1.2,67.2,2,5.1,0.278,61.7,1,27

In [114]:
df.to_csv('data.csv', index=False)

In [115]:
df.dropna(inplace=True)
df.dropna(subset=['Fat','Fiber','Carbohydrates','Energy','Proteins','Salts','Sugars','Positive Points','Negative Points'], inplace=True)

In [116]:
columns_to_convert = ['Fat', 'Fiber', 'Carbohydrates', 'Energy', 'Proteins', 'Salts', 'Sugars', 'Positive Points', 'Negative Points']
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce')
df.dropna(subset=columns_to_convert, inplace=True)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 212
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product Name     204 non-null    object
 1   Fat              204 non-null    float64
 2   Fiber            204 non-null    float64
 3   Carbohydrates    204 non-null    float64
 4   Energy           204 non-null    float64
 5   Proteins         204 non-null    float64
 6   Salts            204 non-null    float64
 7   Sugars           204 non-null    float64
 8   Positive Points  204 non-null    float64
 9   Negative Points  204 non-null    float64
dtypes: float64(9), object(1)
memory usage: 17.5+ KB

In [118]:

def is_suitable_for_blood_pressure(row):
    # Add your criteria here to determine suitability
    if row['Sugars'] <= 5 and row['Salts'] <= 1:
        return 1  # Suitable for blood pressure
    else:
        return 0  # Not suitable for blood pressure

def dia(row):
    if row['Sugars'] <= 6.5 :
        return 1 
    else:
        return 0  
    
def chol(row):
    if row['Fat'] < 14 :
        return 1 
    else:
        return 0  

df['Blood Pressure Suitability'] = df.apply(is_suitable_for_blood_pressure, axis=1)
df['Diabetes Suitability'] = df.apply(dia, axis=1)
df['Cholestrol Suitability'] = df.apply(chol, axis=1)

In [119]:
df

,Product Name,Fat,Fiber,Carbohydrates,Energy,Proteins,Salts,Sugars,Positive Points,Negative Points,Blood Pressure Suitability,Diabetes Suitability,Cholestrol Suitability
0,Aashirvaad Shudh Chakki Atta - ITC - 5 kg,1.80,11.1,77.4,1.0,10.80,0.000,5.6,10.0,5.0,0,1,1
1,Nutella & Go! - 48 g e,25.00,0.0,62.0,2.0,7.40,0.686,42.3,0.0,26.0,0,0,0
2,Amul Taaza - 1L,3.00,0.0,4.8,244.0,3.00,0.092,4.8,1.0,2.0,1,1,1
3,Everest Shahi paneer masala - 0.71g,4.10,0.0,13.4,452.0,3.60,0.170,12.9,2.0,5.0,0,0,1
4,Hershey's syrup - 200g,0.56,0.0,66.6,1.0,1.27,6.000,63.7,0.0,23.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Slim 'n' Trim - Amul - 500ml,1.50,0.0,5.0,192.0,3.20,0.105,5.0,1.0,1.0,1,1,1
209,Aquafina - 500 ml,0.00,0.0,0.0,0.0,0.00,0.003,0.0,0.0,0.0,1,1,1
210,Dairy milk milk chocolate - Mondelez,28.90,0.0,60.4,2.0,8.10,0.156,57.3,0.0,26.0,0,0,0
211,Masala munch,34.60,0.0,55.2,2.0,6.40,2.230,1.0,0.0,25.0,0,1,0
212,Nutties - Cadbury - 30g,24.50,1.2,67.2,2.0,5.10,0.278,61.7,1.0,27.0,0,0,0

In [125]:

def skinny(row):
    if row['Fat'] <= 20 and row['Sugars'] <= 8 and row['Carbohydrates']<=80:
        return 1 
    else:
        return 0

def fit(row):
    if row['Fat'] <= 14 and row['Sugars'] <= 7 and row['Carbohydrates']<=55:
        return 1 
    else:
        return 0  
    
def obese(row):
    if row['Fat'] <= 10 and row['Sugars'] <= 5 and row['Carbohydrates']<=30:
        return 1 
    else:
        return 0  

df['Skinny'] = df.apply(skinny, axis=1)
df['Fit'] = df.apply(fit, axis=1)
df['Obese'] = df.apply(obese, axis=1)

In [126]:
df

,Product Name,Fat,Fiber,Carbohydrates,Energy,Proteins,Salts,Sugars,Positive Points,Negative Points,Blood Pressure Suitability,Diabetes Suitability,Cholestrol Suitability,Skinny,Fit,Obese
0,Aashirvaad Shudh Chakki Atta - ITC - 5 kg,1.80,11.1,77.4,1.0,10.80,0.000,5.6,10.0,5.0,0,1,1,1,0,0
1,Nutella & Go! - 48 g e,25.00,0.0,62.0,2.0,7.40,0.686,42.3,0.0,26.0,0,0,0,0,0,0
2,Amul Taaza - 1L,3.00,0.0,4.8,244.0,3.00,0.092,4.8,1.0,2.0,1,1,1,1,1,1
3,Everest Shahi paneer masala - 0.71g,4.10,0.0,13.4,452.0,3.60,0.170,12.9,2.0,5.0,0,0,1,0,0,0
4,Hershey's syrup - 200g,0.56,0.0,66.6,1.0,1.27,6.000,63.7,0.0,23.0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Slim 'n' Trim - Amul - 500ml,1.50,0.0,5.0,192.0,3.20,0.105,5.0,1.0,1.0,1,1,1,1,1,1
209,Aquafina - 500 ml,0.00,0.0,0.0,0.0,0.00,0.003,0.0,0.0,0.0,1,1,1,1,1,1
210,Dairy milk milk chocolate - Mondelez,28.90,0.0,60.4,2.0,8.10,0.156,57.3,0.0,26.0,0,0,0,0,0,0
211,Masala munch,34.60,0.0,55.2,2.0,6.40,2.230,1.0,0.0,25.0,0,1,0,0,0,0
212,Nutties - Cadbury - 30g,24.50,1.2,67.2,2.0,5.10,0.278,61.7,1.0,27.0,0,0,0,0,0,0

In [127]:
# Assuming 'column_name' is the name of the column you want to analyze
counts = df['Skinny'].value_counts()

# Now you can access the counts of 1s and 0s
count_of_1s = counts.get(1, 0)  # Get count of 1s, default to 0 if not found
count_of_0s = counts.get(0, 0)  # Get count of 0s, default to 0 if not found

print("Count of 1s:", count_of_1s)
print("Count of 0s:", count_of_0s)

Count of 1s: 46
Count of 0s: 158

In [128]:
# Assuming 'column_name' is the name of the column you want to analyze
counts = df['Fit'].value_counts()

# Now you can access the counts of 1s and 0s
count_of_1s = counts.get(1, 0)  # Get count of 1s, default to 0 if not found
count_of_0s = counts.get(0, 0)  # Get count of 0s, default to 0 if not found

print("Count of 1s:", count_of_1s)
print("Count of 0s:", count_of_0s)

Count of 1s: 30
Count of 0s: 174

In [129]:
# Assuming 'column_name' is the name of the column you want to analyze
counts = df['Obese'].value_counts()

# Now you can access the counts of 1s and 0s
count_of_1s = counts.get(1, 0)  # Get count of 1s, default to 0 if not found
count_of_0s = counts.get(0, 0)  # Get count of 0s, default to 0 if not found

print("Count of 1s:", count_of_1s)
print("Count of 0s:", count_of_0s)

Count of 1s: 23
Count of 0s: 181

In [130]:
df=df.drop(columns=['Product Name'])

In [131]:
df

,Fat,Fiber,Carbohydrates,Energy,Proteins,Salts,Sugars,Positive Points,Negative Points,Blood Pressure Suitability,Diabetes Suitability,Cholestrol Suitability,Skinny,Fit,Obese
0,1.80,11.1,77.4,1.0,10.80,0.000,5.6,10.0,5.0,0,1,1,1,0,0
1,25.00,0.0,62.0,2.0,7.40,0.686,42.3,0.0,26.0,0,0,0,0,0,0
2,3.00,0.0,4.8,244.0,3.00,0.092,4.8,1.0,2.0,1,1,1,1,1,1
3,4.10,0.0,13.4,452.0,3.60,0.170,12.9,2.0,5.0,0,0,1,0,0,0
4,0.56,0.0,66.6,1.0,1.27,6.000,63.7,0.0,23.0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,1.50,0.0,5.0,192.0,3.20,0.105,5.0,1.0,1.0,1,1,1,1,1,1
209,0.00,0.0,0.0,0.0,0.00,0.003,0.0,0.0,0.0,1,1,1,1,1,1
210,28.90,0.0,60.4,2.0,8.10,0.156,57.3,0.0,26.0,0,0,0,0,0,0
211,34.60,0.0,55.2,2.0,6.40,2.230,1.0,0.0,25.0,0,1,0,0,0,0
212,24.50,1.2,67.2,2.0,5.10,0.278,61.7,1.0,27.0,0,0,0,0,0,0

In [132]:
df.to_csv('fulldata.csv', index=False)